:root {
    --light-grey: rgba(128, 128, 128, 0.6);
}

body {
  font-weight: 200;
	margin: 20px;
  font-family: 'Poiret One', sans-serif;
}

#header {
  padding-bottom: 12px;
}

#name {
    font-weight: 400;
    font-family: "Trebuchet MS", 'Poiret One', sans-serif;
    font-size: 30px;
    line-height: 0.9;
    margin-left: -3px;
    margin-bottom: 16px;
}

#contact {
	margin-top: 8px;
  font-weight: 100;
  font-family: "Trebuchet MS", 'Poiret One', sans-serif;
  font-size: 12px;
  line-height: 1.7;
}

#website {
	text-align: center;
    margin-bottom: -6px;
    margin-left: 200px;
	color: rgba(128, 128, 128, 0.73);
    font-weight: 100;
    font-family: 'Poiret One', sans-serif;
    font-size: 16px;
}

.link-text {
	text-decoration: underline;
}
.h-expanded {
	width: 100%;
}
.section {
  font-family: 'Poiret One', sans-serif;
	font-size: 14px;
	width: 100%;
	padding-top: 0px;
	display: table;
	margin-top: 4px;
}
.section-title {
	font-family: 'Poiret One', sans-serif;
	display: table-cell;
	width: 110px;
  line-height: 1.2;
}
.section-body {
	display: table-cell;
}
.entry {
	padding-bottom: 0px;
}
.entry-title-line {
	display: table-row;
}
.entry-org {
  margin-bottom: 4px;
  font-size: 14px;
	font-family: 'Poiret One', sans-serif;
	white-space: nowrap;
	font-weight: bold;
}
.entry-geo {
	white-space: nowrap;
	text-align: right;
}
.entry-body {
	padding-top: 0px;
	padding-bottom: 0px;
  font-size: 12px;
}
.entry-position-line {
	display: table-row;
	line-height: 1.7;
}
.entry-position {
  font-family: 'Poiret One', sans-serif;
	display: table-cell;
  font-size: 13px;
	white-space: nowrap;
}
.entry-h-spacer {
	display: table-cell;
	width: 100%;
}
.entry-time {
	display: table-cell;
	white-space: nowrap;
	text-align: right;
}
.entry-edu-description {
    line-height: 1.5;
}
.entry-description {
	line-height: 1.5;
    margin-top: -12px;
}
.entry-description-list {
	margin-left: -20px;
}
.skill-col {
  line-height: 1.5;
	display: table-cell;
	width: 50%;
	padding-right: 12px;
  font-size: 12px;
}
.skill-category {
  font-weight: 600;
	display: inline-block;
}
.skill-text {
}
