#circleA {
  fill            : purple;
  opacity         : 0.1;
}

#circleB {
  fill            : yellow;
  opacity         : 0.1;
}

.circle-border {
  cursor          : ew-resize;
  fill            : none;
  opacity         : 0.5;
  stroke          : gray;
  stroke-width    : 2px;
}

.pageTitle {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  padding: 8px 24px 0;
}

.legendTitle {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  margin-bottom: -15px;
}

.location-text {
  cursor: move;
  opacity: 0.8;
  user-select: none;
}

.clear-filter-link {
  float: right;
  margin-right: -150px;
}

.clear-filter-btn {
  /*background-color: #B8B8B8;*/
  font-size: 10px;
  height: 20px;
  line-height: 20px;
  float: right;
}

.section {
  display: inline-block;
  vertical-align: top;
  width: 48%;
}

.section.left {
  margin-top: -10px;
  margin-left: -30px;
}

.section.right {
  padding-top: 50px;
  padding-right: 18px;
  padding-left: 100px;
}

.tooltip {
  position: absolute;
  z-index: 10;
  visibility: hidden;
  background-color: #0f0f0f;
  text-align: center;
  padding: 4px 12px;
  border-radius: 4px;
  color: #ffffff;
}

.checkbox-group {
  font-weight: 600;
  font-family: 'Quicksand', sans-serif;
  margin-left: -54px;
  margin-bottom: -12px;
  transform: scale(0.8);
}

.result-list-info {
  font-size: 13px;
}

.result-list-info div:first-child {
  color: #8e8e8e;
}

#result-list-header {
  padding-top: 10px;
  visibility: hidden;
}

#result-list .title {
  font-family: sans-serif;
}

#result-list .content {
  color: #8c8c8c;
  display: inline-block;
  font-size: 13px;
  line-height: 16px;
}

#result-list .phone {
  font-size: 0.8em;
}

#result-list .violation {
  font-size: 0.8em;
  color: #000000;
  font-weight: 100;
}

#result-list .violation .title {
  font-weight: 400;
  font-size: 1em;
}

#result-list .material-icons {
  font-size: 14px;
}

#filter-count, .filter-range {
  font-weight: 600;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
  border: 2px solid black;
  background-color: black;
}

.collection .collection-item.avatar .secondary-content {
  top: 10px;
}

.collection .collection-item.avatar {
  padding-left: 24px;
}
