#header-wrap {
  height: 182px !important;
  margin-top: -5px;
}
#content {
  padding: 3px 0;
}
#footer {
  padding: 19px 0 19px 0;
}
#blogs-wrapper .image-wrapper {
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  border-radius: 50em;
}
h2#profile-name {
 font-family: "PT Sans", sans-serif;
}
